div.mt-5
    h2(style="color:crimson;" class="text-center") Lista de Productos
    br
    div.table-responsive
    if DB_PRODUCTS.length > 0
        table.table.table-dark
            tr(style="color: yellow;") 
                th Nombre 
                th Precio
                th Imagen
            each product in DB_PRODUCTS
                tr
                    td#titulo=product.title 
                    td#precio=product.price
                    td
                        img#img(width="30" src=product.url, alt="")
    else
        h3(class="alert alert-warning text-center") No se encontraron productos
div
    form(action="/" method="GET") 
        button(class="btn btn-success w-100") Volver al Formulario
