<div class="jumbotron">
    <h2 style="color:crimson;" class="text-center">Lista de Productos</h2>

    <% if(DB_PRODUCTS.length > 0){ %> 
        <div class="table-responsive">
            <table class="table table-dark">
                <tr style="color: yellow;"> <th>Nombre</th> <th>Precio</th> <th>Imagen</th> </tr>
                <% for (const product of DB_PRODUCTS) {%> 
                <tr> 
                    <td><%=product.nombre %> </td>
                    <td><%=product.precio %> </td>
                    <td>
                        <img width="30" src="<%=product.imagen%>" alt="">
                    </td>
                </tr>
                <% } %> 
            </table>
        </div>
    <% } else { %> 
        <h3 class="alert alert-danger text-center">No se encontraron productos</h3>
    <% } %> 
</div>
<div>
    <form action="/" method="GET">
        <button class="btn btn-success w-100">Volver al Formulario</button>
    </form>
</div>

